body {
  margin: 0;
  background-color: #EAF6F6;
 text-align: center;
  font-family: sans-serif;

}

h1 {
  margin: 50px auto 0 auto;
 color:#66BFBF;
}

h2{
  color:#66BFBF;
}
h3{
  color: #11999E;
}
a{
  color: #11999E;
}
p {
  margin: 0;
}
.titulo{font-family: 'Sacramento', cursive;
    font-size: 600%;

}

.primero {
  position: relative;
  background-color: paleturquoise;
  padding-top: 100px;

}

.montania {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
}

.nube {
  position: absolute;
  right: 15%;
  top: 40%;
  width: 15%
}

.nube2 {
  position: absolute;
  left: 10%;
  bottom: 40%;
  width: 15%
}
.best{
  font-size: 2rem;
  font-weight:normal;
  line-height: 2;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align:left;
  line-height: 2;
}
.confu{
  width:35%;
  float:left;
  margin-right: 30px

}
.pile{
  width:35%;
  float: right;
  margin-left: 30px;

}

.img-ojos{
    margin-top: 100px;
}
