
body {
  background-color: #f1f3f5;
  max-width: 800px;
  margin:0 auto;
  line-height: 1.6;

}

hr {
  border-style: none;
  background-color: lightblue;
  height: 2px;
  width: 75%
}
h1{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
line-height: 1.2;
  color: #345;
  font-weight:200;
  font-size: 49px;

}
em{
  font-style: normal;
  color: #8899aa;
}
h2{
  line-height: 1.2;
      font-weight: 200;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #B31313;
  font-size: 36px;
  margin-top: 50px;
}
h3{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight:400;
  line-height: 1.2;
  color:#745fb5;
  margin-top: 50px;
}
p{
  font-size: 18px;

  background-color: white;
  box-shadow: 0 6px 8px rgba(85, 102, 119, 0.03), 0 1px 1px rgba(85, 102, 119, 0.4);
}
