body {
  margin: 0;
}

a {
  color: #9d0f0f;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

header {
  background-color: #ab3647;
  height: 60px;
}

nav {
  display: inline-block;
  position: absolute;
  right: 10px;
  margin: 0;
  margin-top: 6px;
}

.lis1 {
  display: inline-block;
}

.ul1 {
  display: block;

}

.top-container {
  position: relative;
  display: block;
  max-width: 1025px;
  margin: auto;
}

.you {
  font-family: Helvetica, arial, sans-serif;
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  margin-top: 14px
}

.sp {
  font-weight: 600;
  display: inline-block
}

.you:hover {
  color: #EEEEEE;
}

.suscribe {
  background-color: red;
  color: white;
  display: inline-block;
}

.popular {
  background-color: green;
  color: white;
  display: inline-block;
}

.home {
  background-color: grey;
  color: white;
  display: inline-block;
}

.bottom-container {
  background-color: #333;
  height: 80px;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #2c3e50;
}

.copi {
  margin-top: 30px;
}

.pared {
  max-width: 1000px;
  margin: auto;
}

.cosas {
  right: 1px;
}

.aside {
  border-color: grey;
  border-style: solid;
}
